/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import "~@fortawesome/fontawesome-free/css/all.min.css";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.home_search_container {
  background: #F5F5F5;
  position: relative;
  height: 100%;
}

.home_form_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 35px;
}

.home_search_input_container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 30%;
}

.home_result_container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.disclaimer {
  /*position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;*/
  margin-top: 20px;
  background-color: #F5F5F5 !important;
  font-family: 'Roboto Slab', serif;
  color: #384158;
}

.home {
  height: calc(100% - 57px);
  position: absolute;
  width: 100%;
  left: 0;
}

.home_title {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #384158;
}

.no_results {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #384158;
}

.home_search_button {
  width: 100%;
  height: 46px;
  background: #14bdee;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.home_search_form div {
  background: #FFFFFF;
  border-radius: 3px;
}

.home_search_input {
  width: 100%;
  border: none;
  outline: none;
  height: 25px;
  padding-left: 20px;
}

  .home_search_input:not(:last-child) {
    border-right: solid 1px #e5e5e5;
  }

  .home_search_input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input::input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }
