/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@import "~@fortawesome/fontawesome-free/css/all.min.css";

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.home_search_container {
  background: #F5F5F5;
  position: relative;
}

.home_form_container {
  width: 100%;
}

.home_search_input_container {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  height: 57px;
}

.home_result_container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.disclaimer {
  color: #384158;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #EEEEEE;
  background-color: #FFFFFF;
}

.home {
  height: calc(100% - 57px);
  position: absolute;
  width: 100%;
  left: 0;
}

.home_title {
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #384158;
}

.no_results {
  font-family: 'Roboto Slab', serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #384158;
}

.home_search_button {
  width: 100%;
  height: 46px;
  background: #14bdee;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.home_search_form {
  height: 100%;
}
.home_search_input {
  width: 100%;
  border: none;
  outline: none;
  height: 100%;
  padding-left: 20px;
}

  .home_search_input:not(:last-child) {
    border-right: solid 1px #e5e5e5;
  }

  .home_search_input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

  .home_search_input::input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #b5b8be !important;
  }

select {
  font-family: 'Roboto', sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
}
